@import "src/styles/variables";

.player-instructions {
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(#000, 0.45);
  //background: #21687C;
  box-shadow: 4px 4px 0 rgba(#000, 0.25);
  font-size: 4vh;
  text-shadow: 2px 2px rgba(#000, 0.3);
  text-align: center;

  header {
    font-size: 3vh;

    strong {
      color: $bold-color-primary;
    }
  }

  *:not(:last-child) {
    margin-bottom: 2vh;
  }

  strong {
    color: $bold-color-secondary;
  }
}
