@import "src/styles/variables";

.instructions {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: $bold-color-primary;
  color: #000;
  box-shadow: 4px 4px 0 rgba(#000, 0.25);
  font-size: 3vh;
  text-shadow: none;
  text-align: center;
  animation-delay: 4s;

  header {
    font-size: 2vh;
    opacity: 0.6;
    margin-bottom: 1vh;
  }

  strong {
    font-weight: normal;
    text-decoration: underline;
  }
}
