@import "src/styles/variables";

.viewer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: $bold-color-tertiary;
  color: #fff;
  font-family: $font-stack-primary;
  text-transform: uppercase;
  text-shadow: 4px 4px 0 rgba(black, 0.25);
}
